
.header {
  width: 100vw;
  background-color: var(--surface-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 100;
  left: 0;

  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 2.5rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.themeSwitch {
  background: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.themeSwitch:hover {
  background-color: var(--border-color);
  transform: scale(1.05);
}
